DB_URL=jdbc:postgresql://<host>:<port>/postgres
DB_USERNAME=<username>
DB_PASSWORD=<password>
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/job-search?retryWrites=true&w=majority
REDIS_URL=redis://default:<password>@<host>:<port>
SUPABASE_JWKS_URI=https://<project-ref>.supabase.co/auth/v1/.well-known/jwks.json
RABBITMQ_URL=amqps://<user>:<password>@<host>/<vhost>
